<div class="row">
  <div class="col-md-8">
    <h1>Products</h1>
    <%= count_for @products, 'Total' %>
    <br>

    <div id="product-alerts"></div>

    <h3>Product details</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Seller</th>
          <th>Category</th>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>

  </div>
</div>
