<br>

<button class="btn btn-primary" id="test">Click me</button>
<br><br>

<h2 id="test2">Test</h2>

<div id="neki">
  <input type="text" name="neki_tekst" id="polje">
</div>

<div class="jumbotron">
  <%= display_flash :notice %>
  <h1 class="heading"><%= @welcome_message %> :)</h1>
</div>

<%#= message_for_number @broj, :h3 %>
