<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Product</strong></td>
      <td><%= order.product.name %></td>
    </tr>
    <tr>
      <td><strong>Buyer</strong></td>
      <td><%= order.user.username %></td>
    </tr>
  </tbody>
</table>
